body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}

form {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Adjusting margin for the "Overall GPA" label */
label[for="overallGPA"] {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select,
textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="number"] {
    width: 100px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#courses {
    margin-top: 20px;
}

.course {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.removeCourse {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

.removeCourse:hover {
    background-color: #da190b;
}

/* Styling for dropdown menu */
.dropdown-menu {
    position: absolute;
    width: calc(100% - 20px);
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: #f2f2f2;
}

/* Adjusting position and width of dropdown menu */
.courseTitle {
    width: calc(100% - 110px); /* Adjusted width to accommodate dropdown menu */
}

.courseTitle:focus + .dropdown-menu {
    display: block;
}


#findTeammateBtn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#findTeammateBtn:hover {
    background-color: #0056b3;
}
