body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #c8102e, #005eb8); /* Gradient background combining RMIT red and blue */
}

h1 {
    text-align: center;
    color: #ffffff; /* White text color */
}

form {
    width: 80%;
    margin: auto;
    background-color: #ffffff; /* White background */
    padding: 40px; /* Increased padding for better separation */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Increased shadow effect */
}

label {
    display: block;
    margin-bottom: 10px; /* Increased margin for better spacing */
    font-weight: bold;
    color: #c8102e; /* RMIT red */
}

/* Adjusting margin for the "Overall GPA" label */
label[for="overallGPA"] {
    margin-bottom: 30px; /* Increased margin for better separation */
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
input[type="number"],
select,
textarea {
    width: calc(100% - 20px); /* Adjusted width for better consistency */
    padding: 12px; /* Increased padding for larger input fields */
    margin-bottom: 20px; /* Increased margin for better spacing */
    border: 2px solid #005eb8; /* RMIT blue border */
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px; /* Increased font size for better readability */
    color: #000000; /* Black text color */
    background-color: #ffffff; /* White background */
}

label[for="universityEmail"] {
    margin-bottom: 10px; /* Adjusted margin-bottom */
}

button {
    padding: 14px 24px; /* Increased padding for larger buttons */
    background-color: #c8102e; /* RMIT red */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px; /* Increased margin for better spacing */
    font-size: 18px; /* Increased font size for better readability */
}

button:hover {
    background-color: #750e1a; /* Darker shade of RMIT red on hover */
}

/* Adjust the styling for the Submit button */
button[type="submit"] {
    display: block; /* Ensure the button takes the full width */
    width: 100%; /* Make the button full width */
    margin-top: 20px; /* Increased margin for better spacing */
}

/* Adjust the styling for the Find Teammate Now button */
#findTeammateBtn {
    display: block; /* Ensure the button takes the full width */
    width: 100%; /* Make the button full width */
    margin-top: 20px; /* Increased margin for better spacing */
}


#courses {
    margin-top: 30px; /* Increased margin for better separation */
}

.course {
    margin-bottom: 20px; /* Increased margin for better spacing */
    border: 2px solid #c8102e; /* RMIT red border */
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff; /* White background */
}

.removeCourse {
    background-color: #005eb8; /* RMIT blue */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px; /* Increased margin for better spacing */
    padding: 14px 24px; /* Increased padding for larger buttons */
    font-size: 16px; /* Increased font size for better readability */
}

.removeCourse:hover {
    background-color: #002649; /* Darker shade of RMIT blue on hover */
}
.dropdown-menu {
    position: absolute;
    width: calc(100% - 20px);
    max-height: 200px;
    overflow-y: auto;
    background-color: #ffffff; /* White background */
    border: 1px solid #c8102e; /* RMIT red border */
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: #f2f2f2;
}

.courseTitle {
    width: calc(100% - 110px); /* Adjusted width to accommodate dropdown menu */
}

.courseTitle:focus + .dropdown-menu {
    display: block;
}


#findTeammateBtn {
    background-color: #005eb8; /* RMIT blue */
    color: #ffffff; /* White text color */
    padding: 14px 24px; /* Increased padding for larger buttons */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px; /* Increased font size for better readability */
}

#findTeammateBtn:hover {
    background-color: #002649; /* Darker shade of RMIT blue on hover */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's above other content */
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Drop shadow effect */
    max-width: 80%; /* Limit container width */
    max-height: 80%; /* Limit container height */
    overflow-y: auto; /* Enable vertical scrolling */
    z-index: 9999; /* Ensure it's above other content */
}


.close-button {
    position: absolute;
    top: -10px; /* Move the close button higher */
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Increased font size */
    z-index: 99999; /* Ensure it's above other content */
    color: #888888; /* Grey color */
}

.close-button:hover {
    color: #333333; /* Darker shade of grey on hover */
}

.result-list {
    list-style-type: none;
    padding: 0;
}

.result-list li {
    margin-bottom: 30px; /* Increased margin between data boxes */
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Drop shadow effect */
}


.result-list li:last-child {
    margin-bottom: 0;
}

.result-list li p {
    margin: 0;
    font-size: 18px;
    line-height: 2.0; /* Increased line height for better readability */
}

.result-list li p strong {
    margin-right: 10px;
    font-weight: bold;
}

.result-list li .course-info {
    margin-top: 15px; /* Increased margin */
    font-size: 16px;
    color: #555555; /* Dark grey color */
}

.result-list li .course-info:last-child {
    margin-bottom: 15px; /* Increased margin */
}



/* Styling for the "Add Completed Course" button */
#addCompletedCourse {
    padding: 10px 20px;
    background-color: #28a745; /* Green color */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Add some space between the buttons */
    font-size: 16px;
}

#addCompletedCourse:hover {
    background-color: #218838; /* Darker shade of green */
}

/* Styling for the "Calculate GPA" button */
#calculateGpa {
    padding: 10px 20px;
    background-color: #17a2b8; /* Blue color */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#calculateGpa:hover {
    background-color: #138496; /* Darker shade of blue */
}

/* GPA Calculator Entry Styling */
.gpa-course-entry {
    margin-bottom: 20px; /* Adds space between each course entry */
    padding: 15px; /* Padding inside each course entry */
    border: 1px solid #ddd; /* Adds a subtle border around each course entry */
    border-radius: 8px; /* Rounded corners for the border */
    background-color: #f9f9f9; /* Light background color for each entry */
}

#addCompletedCourse, #calculateGpa {
    margin-top: 20px; /* Adds more space above the buttons */
    width: auto; /* Adjust width as needed or keep auto */
    padding: 10px 15px; /* Adjust padding for better appearance */
    font-size: 16px; /* Adjust font size as needed */
}

.dropdown-menu {
    margin-top: 5px; /* Adds a little space between the input box and dropdown */
}

/* Additional styles to enhance visual separation and interaction */
.dropdown-item:hover {
    background-color: #e1e1e1; /* Changes background on hover for better interaction feedback */
}
#gpaResultContainer {
    margin-top: 20px; /* Space above the result container */
    padding: 20px; /* Padding inside the container */
    border-radius: 8px; /* Rounded corners */
    background-color: #f0f0f0; /* Light grey background */
    border: 1px solid #ddd; /* Subtle border */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Soft shadow for depth */
    text-align: center; /* Center the text inside the container */
    width: 100%; /* Full width of the container */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

#gpaResult {
    font-size: 20px; /* Larger font size for the result */
    font-weight: bold; /* Make the GPA result text bold */
    color: #005eb8; /* Color that matches the RMIT blue theme */
}

#feedbackFormContainer {
    width: 60%;
    margin: 50px auto; /* Adds more space around the container and centers it */
    padding: 40px;
    background-color: #f7f7f7; /* Keeps the background white for clarity */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    border: 1px solid #ddd; /* Adds a subtle border */
    margin-top: 40px;
}

#feedbackFormContainer p {
    text-align: center;
    margin-bottom: 20px;
}

#feedbackFormContainer h2 {
    text-align: center;
    color: #c8102e; /* RMIT red for heading to maintain theme consistency */
    margin-bottom: 30px; /* More space below the heading */
}

#feedbackForm textarea {
    width: calc(100% - 24px); /* Adjusts width to ensure padding does not exceed container width */
    padding: 12px;
    border: 2px solid #005eb8; /* RMIT blue for textarea border */
    border-radius: 6px;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff; /* White background for contrast */
    resize: vertical; /* Allows vertical resizing */
    box-sizing: border-box; /* Includes padding and border in element's total width and height */
    margin-bottom: 20px; /* Adds space below the textarea */
}

#feedbackForm button {
    display: block;
    width: 100%;
    padding: 14px;
    background-color: #c8102e; /* RMIT red for button */
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px; /* Adds a bit of space above the button */
}

#feedbackForm button:hover {
    background-color: #a00f25; /* Darker shade of red for button hover */
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    /* Adjust the width of form elements */
    input[type="text"],
    input[type="email"],
    input[type="date"],
    input[type="tel"],
    input[type="number"],
    select,
    textarea {
        width: 100%;
    }

    /* Adjust margins and paddings for better spacing */
    form {
        padding: 20px;
    }
    
#feedbackFormContainer {
    width:72%;

}

}


@media only screen and (min-width: 769px) {
    /* Adjust form width and margins */
    form {
        width: 60%;
        margin: auto;
    }
}
